
 #barras-audio{
     margin-top: 0vw;
    width: 68vw;
    margin: 1vw;
    align-items: center;
   display: flex;
   flex-direction: column;
gap: 3vw;
padding: 3vw;
border:0vw ;
border-bottom: .2vw;
border-color: rgb(126, 122, 122);
border-style:groove;
font-size: 1vw;
}
#barras-audio img{
    width: 22vw;
    height: 22vw;
   border-radius: 15px;
   --glow-spread-color: rgba(0, 0, 0, 0.849);
   --glow-color: rgb(0, 0, 0);
border: .25em solid var(--glow-color);
box-shadow: 0 0 1em .25em var(--glow-color),
       0 0 2em .5em var(--glow-spread-color),
       inset 0 0 .75em .25em var(--glow-color);
}
audio{
   width: 50vw;
   height: 3vw;
   border-width: 0.3vw;
   border-radius: 10vw;
   --glow-color: rgb(92, 32, 148);
--glow-spread-color: rgba(58, 12, 95, 0.781);
box-shadow: 0 0 1em .25em var(--glow-color),
       0 0 2em .5em var(--glow-spread-color),
       inset 0 0 .75em .25em var(--glow-color);
   
}
     audio::-webkit-media-controls-panel {
       background: rgb(151,70,210);
background: linear-gradient(61deg, rgba(151,70,210,1) 4%, rgba(128,51,185,1) 10%, rgba(94,23,147,1) 30%, rgba(69,35,199,1) 50%, rgba(94,23,147,1) 70%, rgba(128,51,185,1) 90%, rgba(151,70,210,1) 96%);}
