*{
    max-height: 100%;
    max-width: 100%;
    margin: 0%;
padding: 0%;
font-family: 'Arimo', sans-serif;

}


body{
    text-transform: capitalize;
background-color: rgb(29, 29, 29);
max-height: 100%;
max-width: 100%;
display: flex;
padding: 0%;
margin: 0%;
}
#lat{
float: left;
text-align: justify;
background-color: black;
color: aliceblue;
height: 100%;
width: 18vw;
position: fixed;
padding-top :2%;
padding-left: 2%;
overflow: visible;
padding-right: 2%;
z-index: 11;
}
#logo{
    vertical-align: middle;
    margin-bottom: 4vw;
    font-size: 2vw;
    word-wrap: break-word;
}
#logo img{
    width: 26%;  
    vertical-align: middle; 
    margin-right: 4%;
}
a{
text-decoration: none;
color: rgba(240, 248, 255, 0.521);
}

#logos{
    vertical-align: middle;
    margin-bottom: 10%;
    font-size:1.3vw;
}

#logos img{
    width: 13%;  
    vertical-align: middle; 
    margin-right: 7%;
}
#footlat{
    margin-top: 60%;
    text-align: justify;
    word-wrap: break-word;
    padding-bottom:10%;
    color: rgba(240, 248, 255, 0.658);
    font-size: 1vw;
}
#up{
   position:fixed;
    text-align: right;
    padding-top:1vw ;
    padding-bottom: 1vw;
    font-size: 1.4vw;
    background-color: rgba(0, 0, 0, 0.555);
    width: 100%;
    color: aliceblue;
overflow: hidden;
z-index: 10;

}
#line{
    vertical-align: middle;
    width: 3vw;
    margin-right: 1vw;
    }
   

#up button {
  perspective: 100vw;
  border: none;
  outline: none;
  background-color: aliceblue;
  font-size: 1vw;
  text-transform: uppercase;
  text-decoration: double;
  margin-right: 2vw;
  margin-left: 2vw;
  height: 3vw;
  width: 12vw;
  font-size: 1.3vw;
  color: rgb(0, 0, 0);
  text-shadow: 0 3px 5px #000;
  cursor: pointer;
  transform: rotateX(50deg) rotateZ(10deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  
 
 }
 
 #up button::before {
  content: "";
  width: 100%;
  height: 1vw;
background: aliceblue;

  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotateX(90deg);
  transform-origin: bottom;
  
 }
 
 #up button::after {
  content: "";
  width: 1vw;
  height: 3vw;
  background: aliceblue;
    position: absolute;
  top: 0;
  right: 0;
  transform: rotateY(-90deg);
  transform-origin: right;
 }
 
 #up button:hover {
  transform: rotateX(30deg) rotateZ(0);
 }
 

a{
  transition-duration:1s ;
}
a:hover{
    color: blueviolet;
}

#arctic{
    vertical-align: middle;
    float: left;
    margin-left: 24%;
}

#arctic img{
    width: 2.9vw;
   margin-top: 12%;
}
main{
   padding-left: 21.9vw;
    margin-top:6vw;

    width: 78vw;
    
}

#footer{
    float:right;
 font-size: 1vw;
 width: 100%;
background-color:  rgb(20, 20, 20);
  color: white;
 padding-top: 3vw;
 margin: 0%;
 position:relative;
 bottom: 0;
  }
  #footer h4{
    font-size: 1vw;
  }
  #log{
 
    font-size: 2vw;
    float: left;
    align-items: center;
    display: flex;
    width: 13%;
    margin-left: 1vw;
  
  }
  #lo{
    float: left;
    width: 30%;
    margin-right: 1vw;
  }
 
  h4{
    color: rgba(255, 255, 255, 0.667);
    text-transform: uppercase;
    font-size: 15px;
  }
  #social, #contacto, #creadores{
    float: left;
    margin: 4%;
    margin-top: 6vw;
    color:rgba(240, 248, 255, 0.521) ;
  }
  #lred{
   margin-top:6% ;
   margin-left: 30px;
   padding-left: 20px;
   display: flex;
   text-decoration: none;
   color: #000000;
   
  }
  #iglogo{
    width: 3vw;
    margin: 1vw;
    transition: all 1s;
  } 
  #iglogo:hover{
   width: 3.5vw;
  }
  #iglogo p{
    float: left;
    content-visibility: hidden;
    
  }
  #igs{
   color:  rgba(255, 255, 255, 0.667);
   margin-left: 14px;
  }
