
#buscar{
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-direction: row;
    width: 78vw;
    margin-top: 5vw;
    border: 0vw;
    border-bottom: 0.2vw;
    border-color: rgb(126, 122, 122);
    border-style: groove;
    padding-bottom: 7vw;
}



#search {

   width: 20vw;
   height: 1.2vw;
    padding: 1em 1.8em;
    outline: none;
    border: 0.1vw solid #303030;
    background: #212121;
    color: #712295;
  
    text-transform: uppercase;
    
    font-size: 1vw;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;

   }
   
   #buscar:hover #search{
    box-shadow: 0 0 1vw #ae00ff, 0 0 2vw #001eff, 0 0 2vw #ae00ff;
    border-color: #ae00ff;
    width: 40vw;
    transition: 2s;
    margin-left: 2vw;
   }
   #buscar img{
    width: 3.3vw;
    height: 3.3vw;
   }
   #borde{
    width: 3.3vw;
    height: 3.3vw;
    background-color: #001eff00;
    border-radius: 50%;
   }
   #buscar:hover #borde{
    box-shadow: 0 0 1vw #0381f7, 0 0 2vw #0059fd, 0 0 2vw #0044ff;
    transition: 2s;
  
   }
  
   
   

   